#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  padding: 2em;
}
.description {
  color: #888;
  font-size: 20px;
}
.display-data {
  display: flex;
  flex-direction: column;
}
.component-title {
  font-size: 22px;
  font-weight: bold;
  color: #404040;
}
.component-data {
  font-size: 22px;
}
.component-container {
  background-color: #888;
  margin: 10px;
}
